.container {
  margin-left: 250px;
  margin-top: 100px;
  color: rgb(0,0,0);
  display: flex;
  height: 100%;
}
.inner_left_pannel {
  border-right: 1px solid rgba(0,0,0, 0.4);
  width: 35%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.header-left {
  margin: .5rem .5rem .5rem .5rem;
  display: flex;
  justify-content: space-between;
}

.notification-list {
  height: 843px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
}
.notification {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;

  border-top: 1px solid rgba(0,0,0, 0.4);
  border-bottom: 1px solid rgba(0,0,0, 0.4);
  width: 100%;
  min-height: 100px;
  
  padding: 1rem ;
  cursor: pointer;
}
.notification img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}
.notification .description .name,
.notification .description article{
  width: 100%; /* Ensure children take full width */
}
.notification .name {
  margin-left: 0.5rem;
  width: 100%;
  white-space: normal;
  overflow: visible;
  text-overflow: ellipsis;
}

.notification-list span {
  color: rgba(0,0,0, 0.4);
}

.inner_right_pannel h1 {
  width: 825px;
  display: flex ;
  text-align: center;
  align-content: center;
  justify-content: center; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  }
.message-detail {
  height: 843px;
  padding: 1rem 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
}

td {
  height: 50px;
  vertical-align: top;
}

table{
  text-align : left;
  border: 0px;
  padding: 3px;
  border-spacing: 0px;
}

