body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbf3d5;
}

.order-tracking {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}

.sidebar-image {
    width: 149px;
    object-fit: cover;
}

.main-content {
    flex-grow: 1;
}

.continue-shopping {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #1e1e1e;
    margin-bottom: 20px;
}

.order-tracking-title,
.rental-owner-info,
.package-info {
    font-size: 45px;
    font-weight: 600;
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;
}

.info-label {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #1c1c1c;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-input,
.package-details,
.package-status,
.confirmation-upload,
.date-input,
.rental-period,
.fee-info {
    width: 100%;
    padding: 15px;
    border: 5px solid rgba(156, 175, 170, 1);
    border-radius: 5px;
    background-color: #fbf3d5;
    font-size: 24px;
    color: #858585;
    margin-bottom: 20px;
}

.info-columns {
    display: flex;
    gap: 20px;
}

.info-column {
    flex: 1;
}

.package-details {
    height: 150px;
    resize: vertical;
}

.date-info {
    display: flex;
    gap: 20px;
}

.date-column {
    flex: 1;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    .sidebar-image {
        display: none;
    }
    .info-columns,
    .date-info {
        flex-direction: column;
    }
}
