.checkout-container {
  background-color: #fbf3d5;
}

.checkout-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .checkout-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.product-section {
  width: 60%;
}

@media (max-width: 991px) {
  .product-section {
    width: 100%;
    margin-top: 40px;
  }
}

.product-details {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .product-details {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.logo-container {
  width: 18%;
}

@media (max-width: 991px) {
  .logo-container {
    width: 100%;
  }
}

.logo {
  aspect-ratio: 0.06;
  object-fit: cover;
  width: 149px;
  max-width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .logo {
    display: none;
  }
}

.product-info {
  width: 82%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .product-info {
    width: 100%;
  }
}

.back-to-cart {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .back-to-cart {
    max-width: 100%;
  }
}

.back-link {
  align-self: flex-start;
  display: flex;
  gap: 0;
  font: 600 25px Poppins, sans-serif;
  color: #1e1e1e;
}

.back-icon {
  aspect-ratio: 1.27;
  width: 75px;
}

.back-text {
  align-self: flex-start;
  margin-top: 21px;
}

.product-card {
  border-radius: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #d6dac8;
  margin: 28px 0 0 56px;
  padding: 10px 31px;
}

@media (max-width: 991px) {
  .product-card {
    max-width: 100%;
    padding: 0 20px;
  }
}

.product-content {
  display: flex;
  gap: 50px;
}

@media (max-width: 991px) {
  .product-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.product-image-container {
  width: 44%;
}

@media (max-width: 991px) {
  .product-image-container {
    width: 100%;
  }
}

.product-image-wrapper {
  display: flex;
  flex-grow: 1;
  gap: 30px;
  font: 500 17px Poppins, sans-serif;
  color: #1e1e1e;
}

@media (max-width: 991px) {
  .product-image-wrapper {
    margin-top: 40px;
  }
}

.product-image {
  aspect-ratio: 0.85;
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
}

.product-text {
  align-self: flex-start;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
}

.product-name {
  font-family: Poppins, sans-serif;
}

.product-details {
  font-family: Nunito, sans-serif;
  margin-top: 12px;
}

.product-price-container {
  width: 56%;
  margin-left: 40px;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .product-price-container {
    width: 100%;
  }
}

.product-price-wrapper {
  display: flex;
  gap: 20px;
  align-self: stretch;
  font-size: 17px;
  color: #393939;
  justify-content: space-between;
  margin: auto 0;
}

@media (max-width: 991px) {
  .product-price-wrapper {
    margin-top: 40px;
  }
}

.product-quantity {
  font-variant-numeric: lining-nums proportional-nums;
  font: 600 17px Raleway, sans-serif;
  line-height: 100%;
  align-self: flex-start;
}

.product-price {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  white-space: nowrap;
  text-align: right;
}

@media (max-width: 991px) {
  .product-price {
    white-space: initial;
  }
}

.price-value {
  font-family: Poppins, sans-serif;
}

.price-icon {
  aspect-ratio: 0.88;
  width: 20px;
  align-self: flex-end;
}

.order-section {
  width: 40%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .order-section {
    width: 100%;
  }
}

.order-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
  padding: 37px 20px;
}

@media (max-width: 991px) {
  .order-content {
    max-width: 100%;
    margin-top: 40px;
  }
}

.section-title {
  color: #000;
  align-self: flex-start;
  font: 400 22px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .section-title {
    margin-left: 4px;
  }
}

.address-form {
  border-radius: 8px;
  border: 5px solid rgba(129, 115, 115, 1);
  background-color: #d6dac8;
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  flex-direction: column;
  padding: 48px 34px 27px;
}

@media (max-width: 991px) {
  .address-form {
    max-width: 100%;
    padding: 0 20px;
  }
}

.form-row {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .form-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.form-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}

@media (max-width: 991px) {
  .form-column {
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font: 300 17px Poppins, sans-serif;
  color: #000;
}

@media (max-width: 991px) {
  .form-group {
    margin-top: 25px;
  }
}

.form-input {
  border-radius: 8px;
  border: 1px solid rgba(129, 115, 115, 1);
  margin-top: 5px;
  margin-bottom: 10px;
  height: 52px;
}

.form-actions {
  display: flex;
  margin-top: 55px;
  gap: 12px;
  font-size: 17px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .form-actions {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.btn {
  font-family: Poppins, sans-serif;
  border-radius: 8px;
  justify-content: center;
  padding: 19px 40px;
}

@media (max-width: 991px) {
  .btn {
    padding: 0 20px;
  }
}

.btn-cancel {
  border: 1px solid rgba(129, 115, 115, 1);
  color: #000;
}

.btn-save {
  background-color: #9cafaa;
  color: #fff;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .btn-save {
    padding: 0 30px;
  }
}

.note-form {
  border-radius: 8px;
  border: 5px solid rgba(129, 115, 115, 1);
  background-color: #d6dac8;
  display: flex;
  margin-top: 11px;
  margin-bottom: 20px;
  flex-direction: column;
  font-size: 17px;
  padding: 41px 27px;
}

@media (max-width: 991px) {
  .note-form {
    max-width: 100%;
    padding: 0 20px;
  }
}

.note-input {
  border-radius: 8px;
  border: 1px solid rgba(129, 115, 115, 1);
  margin-top: 4px;
  height: 249px;
}

@media (max-width: 991px) {
  .note-input {
    max-width: 100%;
  }
}

.order-summary {
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: 5px solid rgba(129, 115, 115, 1);
  background-color: #d6dac8;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  font: 300 17px Poppins, sans-serif;
  color: #000;
  padding: 43px 28px;
}

@media (max-width: 991px) {
  .order-summary {
    max-width: 100%;
    padding: 0 20px;
  }
}

.place-order-btn {
  border-radius: 8px;
  background-color: #9cafaa;
  align-items: center;
  color: #fff;
  font-weight: 400;
  justify-content: center;
  padding: 23px 60px;
}

@media (max-width: 991px) {
  .place-order-btn {
    max-width: 100%;
    padding: 0 20px;
  }
}

.terms {
  margin-top: 24px;
}

@media (max-width: 991px) {
  .terms {
    max-width: 100%;
  }
}

.divider {
  border-top: 1px solid rgba(176, 176, 176, 1);
  background-color: #b0b0b0;
  margin-top: 22px;
  height: 1px;
}

.summary-details {
  display: flex;
  margin-top: 46px;
  gap: 20px;
  color: #575757;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .summary-details {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    margin-top: 40px;
  }
}

.summary-labels {
  display: flex;
  flex-direction: column;
}

.summary-values {
  align-self: flex-start;
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  text-align: right;
}

.total {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .total {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
