.feedback-message {
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 300px 0 0 400px;
    max-width: 600px;
    border-radius: 10px;
}

.feedback-message h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feedback-message p {
    font-size: 18px;
    margin-bottom: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #417BF7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #417BF7;
}
