:root{
    --theme-color:#E5EDFD;
    --dark-blue:#417BF7;
    --light-blue:#779DF8;
    --light-sky:#E5EDFD;
    --black:#1c1c1c;
}

h2 {   
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.Customer,
.RentalOwner,
.Package {
    display: inline-flex;
}
.info-label {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.info-input {
        float: left;
        display: flex;
        width: 100%;
        border: 3px solid var(--dark-blue);
        border-radius: 5px;
        background-color: powderblue;
        font-size: 14px;
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px;
        white-space: nowrap;
        margin-right: 20px;
}
    